@import "../../assets/main.scss";
.Main {
    display: block;
    height: 100%;
    .Heading {
        font-size: 3rem;
        color: $h1Color;
        text-align: center;
        margin: 0;
        padding: 3rem;
    }
    .Content {
        height: 75vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        position: relative;
    }
}