@import "../../assets/main.scss";
.Backdrop {
    width: 100%;
    max-width: 1024px;
    max-height: 768px;
    background-color: $backdropColor;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: $bgrColor;
    margin: 0 auto;
    position: relative;
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .FallBackContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}