$bgrColor: #dcdde1;
$h1Color: #192a56;
$placeholderColor:#718093;
$borderColor: #353b48;
$optionsColor:#273c75;
$placeholderBgrColor: #f5f6fa;
$buttonColor: #e1b12c;
$buttonFontColor: #c23616;
$backdropColor: #718093;