@import "../../assets/main.scss";
.Video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    max-height: 768px;
    background-color: $backdropColor;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    .Author {
        text-align: center;
        align-self: center;
        font-size: 1.5rem;
        font-weight: $font-bold;
        color: $bgrColor;
        position: absolute;
        top: 80%;
        letter-spacing: 2px;
        text-shadow: 0px 0px 10px black;
    }
    video {
        align-self: center;
        max-width: 100%;
        max-height: 60vh;
    }
}